In [1]:
# Importing Libraries

import numpy as np

import pandas as pd

In [2]:
SpellBee_2022_df = pd.read_csv('Bee_Docs/Spell_Bee_Merged_db.csv')

In [3]:
SpellBee_2022_df.sort_values(by='Words')

,Unnamed: 0,Difficulty Level,Words,WOC_2021,SOW_2021,WOC_2020,SOW_2020,WOC_2022,SOW_2022
3981,3981,THREE,marcel,1.0,0.0,0.0,0.0,0.0,0
2956,2956,THREE,Aachen,1.0,1.0,0.0,0.0,0.0,0
2823,2823,TWO,Acadians,1.0,0.0,0.0,0.0,1.0,0
3132,3132,THREE,Achernar,1.0,0.0,1.0,0.0,1.0,0
3109,3109,THREE,Adelaide,1.0,0.0,1.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...
4833,4833,THREE,zymurgy,0.0,0.0,1.0,0.0,0.0,0
3746,3746,THREE,élan,1.0,0.0,1.0,0.0,1.0,0
3393,3393,THREE,étagère,1.0,0.0,1.0,0.0,1.0,0
3772,3772,THREE,étouffée,1.0,0.0,1.0,0.0,1.0,0
1682,1682,TWO,étude,1.0,0.0,1.0,0.0,1.0,0

In [8]:
dataset=SpellBee_2022_df.copy()

In [9]:
pattern=['ceous','cious','seous','sious','ous','us','city','sity','tion','sion','cion','tive','cive','sive']
for match in pattern:
    dataset[match] = 0
    filt = dataset.loc[dataset.Words.str.endswith(match), :].index
    dataset.loc[filt,match] = 1

In [11]:
pattern=['opp','app','aque','aqui','male','ph','x']
for match in pattern:
    dataset[match] = 0
    filt = dataset.loc[dataset.Words.str.startswith(match), :].index
    dataset.loc[filt,match] = 1

In [6]:
dataset['WC_cious'] = 0
match='cious'
filt = dataset.loc[dataset.Words.str.endswith(match), :].index
dataset.loc[filt,'WC_cious'] = 1
dataset.loc[filt]

,Unnamed: 0,Difficulty Level,Words,WOC_2021,SOW_2021,WOC_2020,SOW_2020,WOC_2022,SOW_2022,WC_cious
158,158,ONE,ferocious,1.0,0.0,1.0,0.0,1.0,0,1
1553,1553,TWO,perspicacious,1.0,0.0,1.0,0.0,1.0,0,1
2035,2035,TWO,judicious,1.0,0.0,1.0,0.0,1.0,0,1
2060,2060,TWO,minacious,1.0,0.0,1.0,0.0,1.0,0,1
2376,2376,TWO,pugnacious,1.0,0.0,1.0,0.0,1.0,0,1
2403,2403,TWO,mendacious,1.0,0.0,1.0,0.0,1.0,0,1
2445,2445,TWO,atrocious,1.0,0.0,1.0,0.0,1.0,0,1
2451,2451,TWO,vivacious,1.0,0.0,1.0,0.0,1.0,0,1
2522,2522,TWO,audacious,1.0,0.0,1.0,0.0,1.0,0,1
2599,2599,TWO,loquacious,1.0,0.0,1.0,0.0,1.0,0,1
2676,2676,TWO,sagacious,1.0,0.0,1.0,0.0,0.0,0,1
2795,2795,TWO,specious,1.0,0.0,1.0,0.0,0.0,0,1

In [7]:
dataset.head(15)

,Unnamed: 0,Difficulty Level,Words,WOC_2021,SOW_2021,WOC_2020,SOW_2020,WOC_2022,SOW_2022,WC_cious
0,0,ONE,gel,1.0,1.0,0.0,0.0,0.0,0,0
1,1,ONE,day,1.0,1.0,0.0,0.0,0.0,0,0
2,2,ONE,scorch,1.0,1.0,0.0,0.0,0.0,0,0
3,3,ONE,hear,1.0,1.0,0.0,0.0,0.0,0,0
4,4,ONE,sizzle,1.0,1.0,0.0,0.0,0.0,0,0
5,5,ONE,jotted,1.0,1.0,0.0,0.0,0.0,0,0
6,6,ONE,train,1.0,1.0,0.0,0.0,0.0,0,0
7,7,ONE,upset,1.0,1.0,0.0,0.0,0.0,0,0
8,8,ONE,motor,1.0,1.0,0.0,0.0,0.0,0,0
9,9,ONE,sprint,1.0,1.0,0.0,0.0,0.0,0,0
10,10,ONE,hatchling,1.0,1.0,0.0,0.0,0.0,0,0
11,11,ONE,swirled,1.0,1.0,0.0,0.0,0.0,0,0
12,12,ONE,sport,1.0,1.0,0.0,0.0,0.0,0,0
13,13,ONE,father,1.0,1.0,0.0,0.0,0.0,0,0
14,14,ONE,talking,1.0,1.0,0.0,0.0,0.0,0,0

In [20]:
#pattern = 'ceous|cious|seous|sious'
pattern = 'cious|city'
mask = SpellBee_2022_df['Words'].str.contains(pattern,na=False)
#mask = SpellBee_2022_df['Words'].str.endswith(pattern,na=False)
SpellBee_2022_df[mask].head(5)
#df.loc[df.index.str.endswith(pattern), :]

,Unnamed: 0,Difficulty Level,Words,WOC_2021,SOW_2021,WOC_2020,SOW_2020,WOC_2022,SOW_2022
158,158,ONE,ferocious,1.0,0.0,1.0,0.0,1.0,0
1553,1553,TWO,perspicacious,1.0,0.0,1.0,0.0,1.0,0
1564,1564,TWO,reciprocity,1.0,0.0,1.0,0.0,1.0,0
1595,1595,TWO,veracity,1.0,0.0,1.0,0.0,1.0,0
1605,1605,TWO,tenaciously,1.0,0.0,1.0,0.0,1.0,0

In [25]:
#pattern=[ceous','cious','seous','sious','ous','us','city','sity','tion','sion','cion','tive','cive','sive','app','opp',
 #        'aque','aqui','male','ph']
pattern='ceous|cious|seous|sious|ous|us|city|sity|tion|sion|cion|tive|cive|sive|app|opp|aque|aqui|male|ph'
SpellBee_2022_filtered_df=SpellBee_2022_df[SpellBee_2022_df['Words'].str.contains(pattern)]
SpellBee_2022_filtered_df.head(10)

,Unnamed: 0,Difficulty Level,Words,WOC_2021,SOW_2021,WOC_2020,SOW_2020,WOC_2022,SOW_2022
69,69,ONE,plopped,1.0,1.0,0.0,0.0,0.0,0
103,103,ONE,dusk,1.0,1.0,0.0,0.0,0.0,0
136,136,ONE,trophy,1.0,1.0,0.0,0.0,0.0,0
158,158,ONE,ferocious,1.0,0.0,1.0,0.0,1.0,0
170,170,ONE,permission,1.0,0.0,1.0,0.0,1.0,0
173,173,ONE,McMansion,1.0,0.0,1.0,0.0,1.0,0
174,174,ONE,omission,1.0,0.0,1.0,0.0,1.0,0
183,183,ONE,triumphant,1.0,0.0,1.0,0.0,1.0,0
193,193,ONE,nephew,1.0,0.0,1.0,0.0,1.0,0
197,197,ONE,ludicrous,1.0,0.0,0.0,0.0,1.0,0

In [26]:
SpellBee_2022_filtered_df.count

<bound method DataFrame.count of       Unnamed: 0 Difficulty Level         Words  WOC_2021  SOW_2021  WOC_2020  \
69            69              ONE       plopped       1.0       1.0       0.0
103          103              ONE          dusk       1.0       1.0       0.0
136          136              ONE        trophy       1.0       1.0       0.0
158          158              ONE     ferocious       1.0       0.0       1.0
170          170              ONE    permission       1.0       0.0       1.0
...          ...              ...           ...       ...       ...       ...
5668        5668            THREE      kapparah       0.0       0.0       0.0
5673        5673            THREE  amuse-gueule       0.0       0.0       0.0
5679        5679            THREE      abaculus       0.0       0.0       0.0
5685        5685            THREE     sous vide       0.0       0.0       0.0
5696        5696            THREE   kyphoplasty       0.0       0.0       0.0

      SOW_2020  WOC_2022  SOW_2022
69         0.0       0.0         0
103        0.0       0.0         0
136        0.0       0.0         0
158        0.0       1.0         0
170        0.0       1.0         0
...        ...       ...       ...
5668       0.0       1.0         0
5673       0.0       1.0         0
5679       0.0       1.0         0
5685       0.0       1.0         0
5696       0.0       1.0         0

[756 rows x 9 columns]>

In [27]:
SpellBee_2022_filtered_df.to_csv('Bee_Docs/Spell_Bee_Filtered_2022.csv',encoding='utf-8-sig')

In [40]:

pattern=['ceous','cious','seous','sious','ous','us','city','sity','tion','sion','cion','tive','cive','sive','app','opp',
        'aque','aqui','male','ph']
dataset=pd.DataFrame()
for match in pattern :
    df=SpellBee_2022_filtered_df.loc[SpellBee_2022_filtered_df.Words.str.endswith(match), :]
    dataset =pd.concat([dataset,df], ignore_index=True, axis=0)
dataset

,Unnamed: 0,Difficulty Level,Words,WOC_2021,SOW_2021,WOC_2020,SOW_2020,WOC_2022,SOW_2022
0,1009,TWO,herbaceous,1.0,0.0,1.0,0.0,1.0,0
1,3117,THREE,violaceous,1.0,0.0,1.0,0.0,1.0,0
2,3374,THREE,sebaceous,1.0,0.0,1.0,0.0,1.0,0
3,3803,THREE,arenaceous,1.0,0.0,1.0,0.0,1.0,0
4,4878,THREE,saponaceous,0.0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...
653,1499,TWO,harrumph,1.0,0.0,1.0,0.0,1.0,0
654,3081,THREE,skeuomorph,1.0,0.0,1.0,0.0,1.0,0
655,3412,THREE,sylph,1.0,0.0,1.0,0.0,1.0,0
656,4469,TWO,barograph,0.0,0.0,1.0,1.0,0.0,0
657,4580,TWO,mimeograph,0.0,0.0,1.0,0.0,0.0,0

In [12]:
dataset.to_csv('Bee_Docs/Spell_Bee_MultiFlag_2022.csv',encoding='utf-8-sig')